@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$root-background-color: #242424;
$block-background-color: #ffffff;

$default-text-color: #ffffff;
$default-font-family: "Montserrat", san-serif;

$default-font-size: 16px;
$tablet-font-size: 14px;
$mobile-font-size: 12px;

$list-item-background: #2e2e2e;

$linear-color: linear-gradient(
  90deg,
  rgba(0, 210.74798583984375, 213.34999084472656, 1),
  rgba(30.78416633605957, 139.40000915527344, 132.2592315673828, 1) 24%,
  rgba(43.149044036865234, 151.77130126953125, 138.18087768554688, 1) 47%,
  rgba(54.393619537353516, 152.14999389648438, 130.96949768066406, 1) 72%,
  rgba(25.33708381652832, 124.10000610351562, 102.35404968261719, 1) 100%
);

@mixin flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  box-sizing: border-box;
}

@mixin block {
  background-color: $block-background-color;
  box-sizing: border-box;
  border: 2px solid rgba(136, 136, 136, 0.17);
  border-radius: 10px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
